@import 'assets/nullStyleSheets.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.wrapper {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}
.container {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
//--------------------------------------------------
.header {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/bg-image.jpg) center no-repeat;
  background-size: cover;

  .header__nav {
    width: 560px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__item {
      a {
        font-size: 13px;
        line-height: 140%;
        color: darkgrey;
        &:hover{
          text-decoration: underline;
          color: #ffffff;
        }
      }
    }

    .nav__logo {
      img{
        height: 44px;
      }
    }
  }

  .start {
    margin-top: 120px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;

    .start__title {
      font-size: 60px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4.5px;
      line-height: 75px;
    }

    .start__text {
      width: 504px;
      margin-top: 20px;
      font-size: 18px;
      line-height: 140%;
      font-weight: 400;
    }

    .start__button {
      margin-top: 30px;
    }
  }

  .contacts {
    margin-top: 170px;
    width: 170px;
    height: 20px;
    display: flex;
    justify-content: space-between;

    .contacts__item {
      border-radius: 50%;
      img{
        height: 20px;
      }
      &:hover{
        box-shadow: 0 0 5px #ffffff;
      }
    }
  }
}
//------------------------------------------------
.about {
  width: 1000px;
  padding-top: 110px;
  padding-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .about__info {
    width: 407px;
    .info__title{
      width: 367px;
    }

    .info__text{
      margin-top: 20px;
    }

    .info__button{
      margin-top: 25px;
    }
  }

  .about__image {
    width: 380px;
    img{
      width: 390px;
    }
  }
}
//----------------------------------------------
.slider {
  width: 1020px;
  padding-top: 70px;
  padding-bottom: 130px;

  .slider__nav {
    display: flex;
    float: right;
    align-items: center;

    .nav__left:hover,
    .nav__right:hover{
      transform: scale(1.1);
    }
    .nav__left:active,
    .nav__right:active{
      transform: scale(0.9);
    }
    .nav__counter {
      display: flex;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      color: #373737;
      text-align: center;

      .counter__start{
        margin-right: 2px;
        margin-left: 7px;
      }
      .counter__middle{
        margin-right: 2px;
        margin-left: 2px;
      }
      .counter__end{
        margin-right: 7px;
        margin-left: 2px;
      }
    }
  }
  .slider__container {
    display: flex;
    align-items: center;
    margin-top: 40px;

    .slider__user {
      text-align: center;
      min-width: 300px;
      max-width: 300px;

      .user__photo {
        img{
          height: 45px;
        }
      }
      .user__title {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2.4px;
        font-weight: 500;
      }
      .user__text {
        margin-top: 10px;
      }
    }
    .slider__body {
      margin-left: 120px;
      display: flex;
      min-width: 849px;
      position: relative;
      overflow: hidden;

      .slider__item {
        margin-right: 30px;
        min-width: 385px;
        max-width: 385px;
        height: 230.8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        img{
          width: 385px;
        }
      }
      .last{
        overflow: visible;
      }
    }
  }

}
//-----------------------------------------------
.news {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(assets/news-bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 260px;

  .sing-up {
    width: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sing-up__title {
      color: #ffffff;
      font-size: 22px;
      letter-spacing: 1.5px;
    }

    form {
      display: flex;
      margin-top: 25px;

      input.sign-up__input{
        height: 46px;
        width: 320px;
        padding-left:25px;
      }
      .button {
        height: 46px;
        width: 67px;
        background-color: #00AFDB;
        &:hover{
          background-color: #009CC2;
        }
      }
    }
  }
}
//----------------------------------------------------
.download {
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 170px;

  .download__title {}

  .download__text {
    margin-top: 20px;
  }

  .download__select {
    width: 420px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    .custom-button {
      display: flex;
      cursor: pointer;
      &:hover{
        transform:translateY(-5px);
        box-shadow: 0 5px 4px #009CC2;
      }

      .custom__text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 120px;
        background-color: #00AFDB;

        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: 700;
      }

      .custom__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 60px;
        background-color: #009CC2;
      }
    }
  }
}
//----------------------------------------------------
.footer {
  width: 100%;
  background-color: #000000;
  padding-top: 70px;
  padding-bottom: 85px;

  .footer__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 155px;
    position: relative;

    .footer__links {
      display: flex;
      margin:auto 0;

      .links__item{
        a{
          color: #FFFFFF;
          font-weight: 400;
          font-size: 13px;
          line-height: 140%;
          opacity: 0.98;
          &:hover{
            text-decoration: underline;
          }
        }

        &:after{
          content: '|';
          margin-left: 20px;
          margin-right: 20px;
          color: #4E4E4E;
        }
      }
      .last{
        &:after{
          content: '';
          display: none;
          margin-right: 0;
        }
      }
    }

    .footer__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);;;

      img{
        height: 44px;
      }
    }

    .footer__copyright {
      font-size: 13px;
      line-height: 140%;
      text-align: center;
      color: #818181;
      margin:auto 0;
    }
  }
}
//----------------------------------------
.title {
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #373737;
  font-weight: 700;
  letter-spacing: 1px;
}
.text {
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  font-weight: 400;
}
.button {
  width: 180px;
  height: 46px;
  
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;

  background-color: #00AFDB;
  &:hover{
    background-color: #009CC2;
  }
}

.second{
  margin-right: 80px;
}