.name{
    text-align: center;
    color: brown;
    font-family: Caribbean, serif;
}
#battery{
    height: 200px;
    width: 500px;
    border:4px solid black;
}
#power{
    height: 200px;
    width: 500px;
    background: green;
}
.low{
    height: 200px;
    width: 500px;
    background-color: green;
    animation: lower 10s linear;
    animation-iteration-count: 1;
}
@keyframes lower {
    0%{
        width: 500px;
        background-color: green;
    }
    50%{
        background-color: orange;
    }
    90%{
        background-color: red;
    }
    100%{
        width: 0;
        background-color: red;
    }
}
.high{
    height: 200px;
    width: 0;
    background-color: red;
    animation: higher 15s linear;
    animation-iteration-count: 1;
}
@keyframes higher {
    0%{
        width: 0;
        background-color: red;
    }
    10%{
        background-color: red;
    }
    50%{
        background-color: orange;
    }
    100%{
        width: 500px;
        background-color: green;
    }
}
#useBattery{
    text-align: center;
    height: 100px;
    width: 300px;
    border: 2px dashed rebeccapurple;
    border-radius: 100px 15px ;
    background: repeating-linear-gradient(225deg,rebeccapurple,royalblue,aquamarine);
}
#charging{
    text-align: center;
    height: 100px;
    width: 300px;
    border: 2px dashed rebeccapurple;
    border-radius: 15px 100px ;
    background: repeating-linear-gradient(225deg,rebeccapurple,royalblue,aquamarine);
}
#useBattery:hover{
     box-shadow:0 0 30px rebeccapurple;
     transition: 100ms;
 }
#charging:hover{
    box-shadow:0 0 30px rebeccapurple;
    transition: 100ms;
}
.loader-container {
    position: absolute;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    width: 100px;
    height: 100px;
    background: #BDE2E0;
    border-radius: 50%;
    border: 15px solid #D7695A;
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 100px;
    overflow: hidden;
}
@keyframes load {
    100% {
        transform: translateY(-1100px);
    }
}
.loader {
    animation: load 16.4s steps(11, end) infinite;
}
