@import "../css/nullStyleSheets.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.wrapper {
  width: 100%;
}

.container {
  width: 100%;
}

.menu {
  height: 650px;
  background: url(../image/header/bg.png) center no-repeat;
  background-size: cover;
}
.menu .menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 30px;
}
.menu .menu__container .menu_item {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #4d4959;
  margin-right: 15px;
  margin-left: 15px;
}
.menu .menu__container .menu__logo {
  margin-right: 15px;
  margin-left: 15px;
}
.menu .menu__container .menu__logo img {
  height: 60px;
}

.preview {
  padding-top: 80px;
  padding-bottom: 80px;
}
.preview .preview__container {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}
.preview .preview__container .preview__title {
  margin-top: 30px;
}
.preview .preview__container .preview__text {
  font-size: 14px;
  margin-top: 30px;
}

.collage .collage__third__container .third__left {
  width: 33.333333%;
}
.collage .collage__third__container .third__right {
  width: 33.333333%;
}

.twitter .twitter__container {
  width: 60%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.twitter .twitter__container .slider {
  text-align: center;
  animation: 0.7s esy ease 1;
}
.twitter .twitter__container .slider .slider__name {
  text-transform: unset;
  margin-top: 30px;
}
.twitter .twitter__container .slider .slider__name span {
  font-weight: 400;
  color: #848789;
  font-size: 17px;
}
.twitter .twitter__container .slider .slider__text {
  font-size: 16px;
  font-style: italic;
  margin-top: 30px;
}
@keyframes esy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.twitter .twitter__container .control {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.twitter .twitter__container .control .dot {
  height: 10px;
  width: 10px;
  margin-right: 4px;
  margin-left: 4px;
  border: 0.5px solid #a9afb3;
  border-radius: 50%;
  background-color: #fff;
}
.twitter .twitter__container .control .dot:hover {
  cursor: pointer;
}
.twitter .twitter__container .control .active {
  background-color: #a9afb3;
}

.gallery .gallery__container .gallery__item {
  display: flex;
  flex-direction: column;
}
.gallery .gallery__container .gallery__item .item__column {
  display: flex;
  height: 50%;
}
.gallery .gallery__container .gallery__item .item__column img {
  width: 100%;
}
.gallery .gallery__container .gallery__item .item__column .item__row {
  width: 50%;
}
.gallery .gallery__container .gallery__item .item__column .item__row img {
  width: 100%;
}
.gallery .gallery__container .gallery__item__center {
  display: flex;
}
.gallery .gallery__container .gallery__item__center .item__col {
  width: 50%;
}
.gallery .gallery__container .gallery__item__center .item__col img {
  width: 100%;
}

.link .link__container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #282f35;
}
.link .link__container a button {
  width: 300px;
  height: 40px;
  border: 0.7px solid #94979a;
  background-color: #282f35;
  color: #ffffff;
  font-size: 13px;
  word-spacing: 3px;
  transition: all 0.6s ease;
}
.link .link__container a button:hover {
  background-color: #64c29e;
}

.contact .contact__container {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}
.contact .contact__container .contact__logo img {
  width: 70px;
}
.contact .contact__container .contact__text {
  font-style: italic;
  font-size: 15px;
  margin-top: 25px;
}
.contact .contact__container .contact__form {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 25px auto;
}
.contact .contact__container .contact__form .form__textArea {
  width: 350px;
  height: 50px;
  border-right: 0.8px solid #d3d7d9;
  display: flex;
  align-items: center;
}
.contact .contact__container .contact__form .form__button {
  margin-left: 15px;
}
.contact .contact__container .contact__form .form__button button {
  height: 50px;
  width: 80px;
  background-color: #64c29e;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
}

.footer .footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 50px;
  color: #4d4959;
  font-family: "Lato", sans-serif;
}
.footer .footer__container .footer__info .info__profile {
  font-size: 13.5px;
  font-weight: 700;
}
.footer .footer__container .footer__info .info__address {
  font-size: 12px;
  font-style: italic;
  margin-top: 3px;
}
.footer .footer__container .footer__info .info__mail {
  font-size: 13px;
  font-style: italic;
  margin-top: 3px;
}
.footer .footer__container .footer__messenger {
  display: flex;
  justify-content: center;
}
.footer .footer__container .footer__messenger .messenger__item {
  margin-right: 8px;
}
.footer .footer__container .footer__messenger .messenger__item img {
  width: 30px;
}
.footer .footer__container .footer__messenger .messenger__item:hover {
  transform: scale(1.1);
}
.footer .footer__container .footer__handcraft {
  font-size: 13.5px;
  font-style: italic;
}
.footer .footer__container .footer__handcraft span {
  font-size: 14px;
  font-family: "Permanent Marker", cursive;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}

.text {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #848789;
  line-height: 25px;
}

.bigArea {
  position: relative;
}
.bigArea img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.smallArea .smallArea__content {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  text-align: center;
}
.smallArea .smallArea__content .smallArea__title {
  margin-top: 20px;
}
.smallArea .smallArea__content .smallArea__text {
  margin-top: 20px;
}
.smallArea .smallArea__image img {
  width: 100%;
}

.none {
  display: none;
}

@media (min-width: 767px) {
  .collage__first__container {
    display: flex;
  }

  .collage__second__container {
    display: flex;
  }

  .collage__third__container {
    display: flex;
  }

  .bigArea {
    width: 66.6666666%;
  }

  .smallArea {
    width: 33.33333333%;
  }

  .gallery .gallery__container {
    display: flex;
  }
  .gallery .gallery__container .gallery__item {
    width: 33.3333333%;
  }
  .gallery .gallery__container .gallery__item__center {
    width: 33.3333333%;
  }
}
@media (max-width: 767px) {
  .bigArea {
    width: 100%;
  }

  .smallArea {
    width: 100%;
  }

  .collage {
    width: 100%;
  }
}