@import url('../css/nullStyleSheets.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Condensed:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu {
  height: 45px;
  width: 100%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  border-bottom: 1px solid #ec4848;

  .menu__logo {
    width: 186px;
    color: #ec4848;

    font-family: 'PT Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    font-variant: small-caps;

    margin-left: 10%;
  }

  .menu__points {
    display: flex;
    align-items: center;

    margin-right: 7%;

    .menu__item {
      display: block;
      height: 12px;

      font-family: 'Roboto Condensed', sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.07px;
      color: #3f444a;

      margin-right: 3px;
      margin-left: 3px;

      &:hover {
        color: #ec4848;
        cursor: pointer;
      }
    }
  }
}

.slider {
  width: 100%;
  height: 95%;
  background: url(../image/slider/bg.jpg);

  display: flex;
  justify-content: space-around;
  align-items: center;

  .slider__action {
    width: 60px;
    height: 60px;

    background-color: #ffffff;
    opacity: 0.87;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      opacity: 0.55;
    }

    &:active {
      background-color: #000000;
      opacity: 0.31;
    }
  }

  .slider__text {
    text-align: center;
    width: 75%;

    .slider-text1 {
      font-family: "PT Sans", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      animation: opasityOn 1s ease-in-out 1;

      .slider-text1__title {
        font-size: 90px;
        margin-bottom: 10px;
      }

      .slider-text1__text {
        font-size: 14px;
        word-spacing: 7px;
      }
    }

    .slider-text2 {
      font-family: "Roboto Condensed", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      word-spacing: 7px;
      animation: opasityOn 1s ease-in-out 1;

      .slider-text2__title {
        font-size: 69px;
      }

      .slider-text2__text {
        font-size: 14px;
      }
    }
    @keyframes opasityOn {
      from{opacity: 0}
      to{opacity: 1}
    }

    .slider__button {
      background-color: #ec4848;
      height: 35px;
      width: 120px;

      display: flex;
      justify-content: center;
      align-items: center;

      margin: 40px auto;
      border-radius: 20px;

      font-size: 12px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover {
        box-shadow: 0 0 13px red;
        cursor: pointer;
      }
    }
  }
}

.service {
  text-align: center;
  margin: 0 auto;

  .service__menu {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .service__item {
      width: 250px;

      border: 0.4px solid #3f444a;
      border-radius: 15px;

      margin-right: 15px;
      margin-left: 15px;
      padding-top: 30px;
      padding-bottom: 30px;

      color: #3f444a;

      .service__item__image {
        text-align: center;
        img {
          height: 78px;
          width: 78px;
        }
      }

      .service__item__title {
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
      }

      .service__item__text {
        text-align: left;

        margin: 20px 20px 30px 20px;
      }

      .service__item__button {
        background-color: #ec4848;
        height: 30px;
        width: 110px;

        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-size: 11px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          box-shadow: 0 0 10px red;
          cursor: pointer;
        }
      }

      &:hover {
        background-color: #3f444a;
        color: #ffffff;
      }
    }
  }
}

.join {
  width: 100%;
  background: url(../image/join/shattered-island.gif) fixed;
  text-align: center;
  padding-top: 60px;

  .join__image {
  }

  .join__title {
    color: #ffffff;
    margin-top: 15px;
  }

  .join__text {
    color: #ffffff;

    width: 600px;
    margin: 50px auto;
    line-height: 20px;
  }

  .join__button {
    background-color: #ec4848;
    height: 35px;
    width: 130px;

    margin: 25px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      box-shadow: 0 0 13px red;
      cursor: pointer;
    }
  }
}

.offer {

  .offer__table {
    display: grid;
    grid-template: repeat(2,150px)/repeat(2,450px);
    justify-content: center;

    margin-top: 40px;

    .offer__item {
      margin: 0 0 15px 30px;

      display: flex;
      align-items: center;

      .offer__image {
        margin-right: 15px;

        img {
          height: 68px;
          width: 68px;
        }
      }

      .offer__info {
        .offer__info__title {
          color: #3f444a;
        }

        .offer__info__text {
          color: #727c86;
          line-height: 17px;

          margin-top: 14px;
          width: 300px;
        }
      }
    }
  }
}

.costumer {

  .costumer__body {

    .costumer__man {
      margin: 40px auto;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 50%;

      .man__image {
        img {
          height: 100px;
          width: 100px;
        }
      }

      .man__info {
        margin-left: 30px;

        .man__info__name {
          color: #3f444a;
        }

        .man__info__skill {
          text-transform: uppercase;
          font-size: 13px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          color: #ec4848;
          margin-top: 7px;
        }

        .man__info__text {
          margin-top: 20px;
          color: #727c86;
          width: 450px;
        }
      }
    }
  }

  .costumer__before {
    text-align: center;

    img {
      height: 54px;
      width: 60px;
    }
  }
}

.counter {
  width: 100%;
  background: url(../image/counter/bg.png);

  .counter__columns {
    display: grid;
    grid-template: 268px/repeat(4,280px);
    justify-content: center;

    .counter__item {
      margin-right: 5px;
      margin-left: 5px;
      background: url(../image/counter/itemBd.png);
      height: 268px;
      text-align: center;

      .counter__item__image {
        margin-top: 50px;

        img {
          height: 47px;
        }
      }

      .counter__item__count {
        margin-top: 40px;
        font-size: 25px;
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #ffffff;
      }

      .counter__item__text {
        margin-top: 20px;
        font-size: 13px;
        word-spacing: 5px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}

.team {

  .team__text {
    margin: 50px auto;
    width: 50%;

    text-align: center;
    line-height: 23px;
    color: #727c86;
  }

  .team__staff {
    display: grid;
    grid-template: 300px/repeat(4,280px);
    justify-content: center;

    .team__column {
      margin-right: 5px;
      margin-left: 5px;

      .team__column__info {
        margin-top: 70%;
        width: 100%;
        height: 37%;
        background-color: #e44647;
        padding-top: 20px;

        .info__name {
          color: #ffffff;
          text-transform: unset;
          text-align: center;
        }

        .info__skill {
          color: #ffffff;
          text-align: center;
          margin-top: 5px;
        }

        .info__contact {
          display: flex;
          justify-content: center;
          margin-top: 14px;

          .info__contact__item {
            margin-right: 3px;
            margin-left: 3px;

            img {
              height: 14px;
            }

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .first {
      background-image: url(../image/team/first.png);
    }

    .second {
      background-image: url(../image/team/second.png);
    }

    .third {
      background-image: url(../image/team/third.png);
    }

    .fourth {
      background-image: url(../image/team/fourth.png);
    }
  }
}

.work {

  .work__text {
    margin: 50px auto;
    width: 50%;

    color: #727c86;
    text-align: center;
    line-height: 23px;
  }

  .work__gallery {
    display: grid;
    grid-template: repeat(2,300px)/repeat(3,350px);
    justify-content: center;
    .gallery__item {
      text-align: center;
      margin-right: 7px;
      margin-left: 7px;
      .gallery__item__image {
        img{
          height: 200px;
        }
      }

      .gallery__item__title {
        color: #727c86;
        text-transform: unset;

        margin-top: 20px;
      }

      .gallery__item__text {
        color: #727c86;
        margin-top: 10px;
      }
    }
  }
}

.awesome {

  .awesome__example {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .awesome__example__item {
      margin-right: 10px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .item__image{
        img{
          height: 20px;
        }
      }
      .item__text{
        font-family: 'Roboto Slab', serif;
        font-size: 13px;
        margin-left: 5px;
        color: #727c86;
      }
    }
  }
}

.footer {
  .footer__sendMail {
    height: 60px;
    width: 100%;
    background-color: #312b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sendMail__text {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      margin-left: 10%;
      color:#ffffff;
    }
    .sendMail__area {
      margin-right: 10%;
      display: flex;
      .sendMail__area__input{
        font-family: "Roboto", sans-serif;
        color: #b0bec4;
        text-align: center;
        height: 30px;
        width: 200px;
        border-radius: 5px 0 0 5px;
      }
      .sendMail__area__button{
        height: 30px;
        width: 40px;
        border-radius: 0 5px 5px 0;
        background-color: #ec4848;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          height: 20px;
        }
      }
      &:active{
        box-shadow: 0 0 10px blue;
      }
    }
  }
  .footer__final {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #151515;

    .final__ico {
      width: 186px;
      color: #ec4848;
      font-family: 'PT Sans', sans-serif;
      font-size: 29px;
      font-weight: 700;
      text-transform: uppercase;
      font-variant: small-caps;
      margin-left: 10%;
    }
    .final__copyrights {
      font-family: "PT Sans", sans-serif;
      font-size: 11px;
      color: #c5c5c5;
      margin-left: 30px;
      span{
        color: #ec4848;
      }
    }
  }

}

//-----------------------------------------
.none {
  display: none;
}

section{
  padding-top: 60px;
  padding-bottom: 60px;
}
.title{
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #3f444a;
  text-align: center;
}
.subtitle{
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.text{
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}